<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
	<head>
		<meta charset="UTF-8" />
		<title>Spring framework Guru</title>
	</head>
	<body>
		<h1>Book list</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Titile</th>
					<th>Publisher</th></tr>
			</thead>
			<tbody>
				<tr th:each="book:${books}">
					<td th:text="${book.id}">123</td>
					<td th:text="${book.title}">Spring in action</td>
					<td th:text="${book.publisher.publisherName}">Wrox</td>
				</tr>
			</tbody>
		</table>
		<div><a th:href="@{/authors}">Authors</a></div>
	</body>
</html>